root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.rst]
indent_size = 4
indent_style = tab

[.editorconfig]
indent_size = 4
indent_style = tab

[.gitmessage]
indent_size = 4
indent_style = tab
insert_final_newline = false

[.gitmodules]
indent_size = 4
indent_style = tab

[.tm_properties]
indent_size = 4
indent_style = tab

[Makefile]
indent_size = 4
indent_style = tab
